body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

.display {
  width: 100%;
}

.number {
  width: 25%;
  height: 40px;
  display: inline-block;
}

.operator {
  width: 50%;
  height: 40px;
  display: inline-block;
}

.clear {
  height: 40px;
  width: 100%;
  display: inline-block;
  background-color: red;
}

.equal {
  height: 40px;
  width: 50%;
  display: inline-block;
  background-color: green;
}
